#include <CommonIncludes.h>
#include <World/Components/Components.h>
#include <World/Components/DebugImGuiComponents.h>

namespace Tempest
{
{% for structure in structures -%}
{%- if structure.ttype == "Component" -%}
void {{structure.name}}ImGuiDebug(void* data)
{
    auto comp = (Components::{{structure.name}}*)data;
    ImGui::Text("{{structure.name}}");
    {% for member in structure.members -%}
    ImGuiDebugRender(&comp->{{member.name}}, "{{member.name}}");
    {% endfor %}
}
{% endif -%}
{% endfor %}
void RegisterComponents(flecs::world& world)
{
    {% for structure in structures -%}
    {%- if structure.ttype == "Component" -%}
    {
        auto componentId = world.component<Components::{{structure.name}}>(Components::{{structure.name}}::Name)
            {% if structure is needs_reflection -%}
            {% for member in structure.members -%}
            .member<{{type_for_member(member=member)}}>("{{member.name}}")
            {% endfor %}
            {%- endif -%}
            {% if structure is is_inherit -%}
            .add(flecs::OnInstantiate, flecs::Inherit)
            {%- endif -%};
        g_CompIdToImGuiFunc[componentId] = &{{structure.name}}ImGuiDebug;
    }
    {% endif -%}

    {%- if structure.ttype == "Tag" -%}
    world.component<Tags::{{structure.name}}>(Tags::{{structure.name}}::Name);
    {% endif -%}
    {% endfor %}
}
}